.root {
    -fx-background-image: url("img/background.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-background-radius: 20px;
}

.thanksText {
    -fx-text-alignment: center;
    -fx-font-family: Montserrat;
    -fx-font-size: 32px;
    -fx-text-fill: white;
    -fx-font-weight: 800;
}

.startoudouText {
    -fx-text-alignment: center;
    -fx-font-family: Montserrat;
    -fx-font-size: 20px;
    -fx-text-fill: white;
    -fx-font-weight: 800;
}

.creditsText {
    -fx-text-alignment: center;
    -fx-font-family: Montserrat;
    -fx-font-size: 14px;
    -fx-text-fill: white;
    -fx-font-weight: 200;
    -fx-opacity: 50%;

}

.nextButton {
    -fx-text-alignment: center;
    -fx-font-family: Montserrat;
    -fx-font-size: 20px;
    -fx-text-fill: white;
    -fx-font-weight: 800;
    -fx-background-radius: 10px;
    -fx-background-color: #300031;
    -fx-effect: dropshadow( gaussian , #D400FF, 20, 0.01,0,0 );
    -fx-transition: transform 0.3s;
}

.nextButton:hover {
    -fx-effect: dropshadow( gaussian , pink, 20, 0.01,0,0 );
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
    -fx-background-color: #3e003f;
}

.title {
    -fx-font: Montserrat;
    -fx-font-size: 32px;
    -fx-text-fill: white;
    -fx-text-alignment: center;
    -fx-font-weight: 800;
}

.titlefield {
    -fx-text-alignment: center;
    -fx-font-family: Montserrat;
    -fx-font-size: 16px;
    -fx-text-fill: white;
    -fx-font-weight: 800;
}

TextField {
    -fx-text-alignment: center;
    -fx-font-family: Montserrat;
    -fx-font-size: 15px;
    -fx-text-fill: white;
    -fx-background-radius: 10px;
    -fx-background-color: #300031;
    -fx-effect: dropshadow( gaussian , #D400FF, 20, 0.01,0,0 );
}

TextField:focused {
    -fx-effect: dropshadow( gaussian , pink, 20, 0.01,0,0 );
    -fx-background-color: #3e003f;
}

ComboBox {
    -fx-text-alignment: center;
    -fx-font-family: Montserrat;
    -fx-font-size: 15px;
    -fx-text-fill: white;
    -fx-background-radius: 10px;
    -fx-background-color: #300031;
    -fx-effect: dropshadow( gaussian , #D400FF, 20, 0.01,0,0 );
}


ComboBox:focused {
    -fx-effect: dropshadow( gaussian , pink, 20, 0.01,0,0 );
    -fx-background-color: #3e003f;
}